<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/_layout::Layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body   >
<section >
	<div class="container" style="margin-top: 70px">
		
		<div class="search-wrapper">
			<form>
				<input type="text" id="search-manager" required class="search-box" placeholder="Enter search term" onkeyup="searchManager()" >
				<button class="close-icon" type="reset"></button>
			</form>
		</div>
		
		<div class="search-result-manager">
		
		
		</div>
		
		<div class="m-3">
			<button class="add-employee-button" type="button">
				<i class="fa fa-plus-circle"></i>
			</button>
			<span class="text-muted">Add Manager</span>
			<button class="show-employee-button ml-4" type="button">
				<i aria-hidden="true" class="fa fa-eye"></i>
			</button>
			<span class="text-muted">Show Manager</span>
		</div>
	
		
		
	
		
		<div class="show-employee">
			
			<div class="card shadow border-0 mb-7">
				<div class="card-header">
					<h5 class="mb-0">Managers</h5>
				</div>
				
				<!-- table start -->
				<div class="table-responsive" th:if="${employees != null}">
					<table class="table table-hover table-nowrap">
						<thead class="thead-light">
						<tr>
							<th scope="col">Manager Name</th>
							<th scope="col">EmailId</th>
							<th scope="col">Phone Number</th>
							<th scope="col">Pincode</th>
							<th scope="col">Salary</th>
							
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="employee:${employees}" th:if="${employee != null and employee.customer != null}">
							<td>
								<a class="text-heading font-semibold"  th:href="@{'/admin/'+${employee.employeeId}+'/manager-info'}" style="font-size:16px;font-width:30px" th:text="${employee.customer.customerName}">
									Robert Fox
								</a>
							</td>
							<td th:text="${employee.customer.customerEmailId}" style="font-size:16px;font-width:30px">Feb 15, 2021</td>
							<td>
								<span class="text-heading " href="#" th:text="${employee.employeePhoneNumber}" style="font-size:16px;font-width:30px">
									Dribbble
								</span>
							</td>
							
							<td th:text="${employee.customer.address.pinCode}" style="font-size:16px;font-width:30px">$3.500</td>
							
							<td >
			  <span class="fa fa-inr" >
				<i style="font-size:16px;font-width:30px" th:text="${employee.employeeSalary}"></i>
			  </span>
							</td>
							<td class="text-end">
								<a href="#" th:href="@{'/admin/'+${employee.employeeId}+'/manager-info'}" class="btn btn-sm btn-neutral">View</a>
								<button
										type="button"
										class="btn btn-sm btn-square btn-neutral text-danger-hover delete-employee"
										id="delete-employee" th:data-employee_id="${employee.employeeId}"
								>
									<i class="bi bi-trash"></i>
								</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				
				<!-- table end -->
				
				
				<div class="card-footer border-0 py-5">
					<nav aria-label="Page navigation example text-center" th:if="${totalPages>0}" style="color:black">
						<ul class="pagination">
							<li class="page-item border" th:if="${currentPage != 0 }">
								<a class="page-link" href="#" aria-label="Previous"
								   th:href="@{'/admin/manage-manager/' + ${currentPage - 1}}">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li th:each="i : ${#numbers.sequence(1, totalPages)}" style="color:black"
								th:classappend="${currentPage == i-1 ? 'active' : ''}"><a
									class="page-link" href="#" th:href="@{'/admin/manage-manager/' + ${i-1}}"
									th:text="${i}">1</a></li>
							
							<li class="page-item  border" th:if="${currentPage + 1 != totalPages}" style="color:black">
								<a class="page-link" href="#" aria-label="Next"
								   th:href="@{'/admin/manage-manager/' + ${currentPage + 1}}">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				
				</div>
			
			
			
			
			</div>
		</div>
		
		
		
	</div>
	
	
	
		<div id="add-employee" style="display: none" >
		<div class="col-md-5 offset-md-4"  >
			<div class="card mt-3">
				<div class="card-header text-center text-white primary-bg">
					<span class="fa fa-3x fa-user-circle"></span>
					<br>
					Add Manager
				</div>
				<div class="card-body">
					<form id="reg-form" th:action="@{/admin/add-employeeData}" method="POST">
						
						<div class="form-group">
							<label for="customerName">Manager Name</label>
							<input name="customerName" type="text" class="form-control" id="customerName"
								   aria-describedby="emailHelp" placeholder="Manager Name" required>
						</div>
						
						
						<div class="form-group">
							<label for="customerEmailId">Manager Email</label>
							<input type="email" name="customerEmailId" class="form-control" id="customerEmailId"
								   placeholder="Manager Email"></input>
						</div>
						
						<div class="form-group">
							<label for="customerPassword">Manager Password</label>
							<input name="customerPassword" type="password" class="form-control" id="customerPassword"
								   aria-describedby="emailHelp" placeholder="Manager Password" required>
						</div>
						
						<div class="form-group">
							<label for="password2">Retype Password</label>
							<input name="password2" type="password" class="form-control" id="password2"
								   aria-describedby="emailHelp" placeholder="Retype Password" required>
						</div>
						
						<div class="form-group">
							<label for="employeePhoneNumber">Manager PhoneNumber</label>
							<input name="employeePhoneNumber" type="number" class="form-control" id="employeePhoneNumber"
								   aria-describedby="emailHelp" placeholder="Manager PhoneNumber" required>
						</div>
						
						
						<div class="form-group">
							<label for="employeeSalary">Manager Salary</label>
							<input name="employeeSalary" type="number" class="form-control" id="employeeSalary"
								   aria-describedby="emailHelp" placeholder="Manager Salary" required>
						</div>
						
						<div class="form-group">
							<label for="pinCode">Manager PinCode</label>
							<input name="pinCode" type="number" class="form-control" id="pinCode"
								   aria-describedby="emailHelp" placeholder="Manager PinCode" required>
						</div>
						
						<div class="form-group">
							<label for="state">Manager State</label>
							<input name="state" type="text" class="form-control" id="state"
								   aria-describedby="emailHelp" placeholder="Manager State" required>
						</div>
						
						<div class="form-group">
							<label for="district">Manager District</label>
							<input name="district" type="text" class="form-control" id="district"
								   aria-describedby="emailHelp" placeholder="Manager District" required>
						</div>
						
						
						<div class="form-group">
							<label for="city">Manager City</label>
							<input name="city" type="text" class="form-control" id="city"
								   aria-describedby="emailHelp" placeholder="Manager City" required>
						</div>
						
						
						
						<div class="form-group">
							<label for="area">Manager Area</label>
							<input name="area" type="text" class="form-control" id="area"
								   aria-describedby="emailHelp" placeholder="Manager Area" required>
						</div>
						
						
						<div class="form-group">
							<label for="colony">Manager Colony</label>
							<input name="colony" type="text" class="form-control" id="colony"
								   aria-describedby="emailHelp" placeholder="Manager Colony" required>
						</div>
						
						<div class="container text-center mt-3">
							<button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
							<button type="reset" class="btn btn-warning" id="reset-btn">Reset</button>
						</div>
					</form>
				
				</div>
			
			
			</div>
		</div>
		
		</div>
	

</section>
</body>
</html>