<!DOCTYPE html>
<html lang="en" th:replace="~{admin/_layout::Layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<section>
	<main class="p-5 banner-background" style="padding-bottom: 80px">
		<div class="container" style="margin-top: 70px">
			<div class="m-3">
				<button class="add-book-button" type="button">
					<i class="fa fa-plus"></i>
				</button>
				<span class="text-muted">Add Book</span>
				<button class="show-book-button ml-4" type="button">
					<i aria-hidden="true" class="fa fa-eye"></i>
				</button>
				<span class="text-muted">Show Books</span>
			</div>
			
			<!-- show Book-->
			<div class="show-books">
				<div class="">
					<div class="">
						
						<div class='container mt-1'>
							
							<div class="search-wrapper">
								<form>
									<input type="text" id="search-book" required class="search-box" placeholder="Enter search term" onkeyup="searchBook()" >
									<button class="close-icon" type="reset"></button>
								</form>
							</div>
							
							<div class=" row mb-2 search-result-book">
							
							
							</div>
							<hr>
							<div class='row mb-2'>
								<div class='col-md-4 mb-2' th:each="book:${books}" >
									<div class="card" style="width: 12rem;">
										<img th:src="${book.bookImageUrl}" class="card-img-top" alt="..." style="height:200px;">
										<div class="card-body ">
											<div class="text-center">
											<h5 class="card-title " th:text="${book.bookTitle}">Science Fiction</h5>
											<p class="card-text" th:text="${book.bookAuthor}">Gomar</p>
											<a type="button" class="btn btn-outline-info btn-circle btn-sm btn-circle " th:href="@{'/admin/'+${book.bookId}+'/book-Info'}"><i class="fa fa-info-circle"></i> </a>
											<button type="button" class="btn btn-outline-info btn-circle btn-sm btn-circle ml-2" data-bs-toggle="modal" th:data-bs-target="'#exampleModal-'+ ${book.bookId}"><i class="fa fa-edit"></i></button>
											<button type="button" class="btn btn-outline-info btn-circle btn-sm btn-circle ml-2 delete-book" id="delete-book" th:data-book_id="${book.bookId}"><i class="fa fa-trash"></i></button>
											</div>
											
										<!--update modal-->
											<div
													aria-hidden="true"
													aria-labelledby="exampleModalLabel"
													class="modal fade"
													th:id="'exampleModal-'+${book.bookId}"
													
													tabindex="-1"
											>
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h1
																	class="modal-title fs-5"
																	id="exampleModalLabel"
															>
																Update Book Detail
															</h1>
															<button
																	aria-label="Close"
																	class="btn-close"
																	data-bs-dismiss="modal"
																	type="button"
															></button>
														</div>
														<div class="modal-body">
															<form id="reg-form" method="POST"
																  th:action="@{/admin/update-bookData}">
																<input type="hidden" name="bookId" th:value="${book.bookId}">
																<div class="form-group">
																	<label for="bookTitle">Book Title</label>
																	<input aria-describedby="emailHelp" class="form-control" id="bookTitle1" name="bookTitle" th:value="${book.bookTitle}"
																		   placeholder="Enter Book Title" required type="text">
																</div>
																
																
																<div class="form-group">
																	<label for="bookAuthor2">Book Author</label>
																	<input aria-describedby="emailHelp" class="form-control" id="bookAuthor2" name="bookAuthor" th:value="${book.bookAuthor}"
																		   placeholder="Enter Book Author"
																		   required type="text">
																</div>
																
																
																<div class="form-group">
																	<label for="bookISBN2">Book ISBN</label>
																	<input aria-describedby="emailHelp" class="form-control" id="bookISBN2" name="bookISBN" th:value="${book.bookISBN}"
																		   placeholder="Enter Book ISBN"
																		   required type="text">
																</div>
																
																
																<div class="form-group">
																	<label for="bookQuantity2">Book Qunatity</label>
																	<input aria-describedby="emailHelp" class="form-control" id="bookQuantity2" name="bookQuantity" th:value="${book.bookQuantity}"
																		   placeholder="Enter Book Quantity"
																		   required type="number">
																</div>
																
																
																<div class="form-group">
																	<label for="bookPrice2">Book Price</label>
																	<input aria-describedby="emailHelp" class="form-control" id="bookPrice2"  name="bookPrice" th:value="${book.bookPrice}"
																		   placeholder="Enter Book Price"
																		   required type="number">
																</div>
																
																
																<div class="form-group">
																	<label for="bookStatus2">Book Type</label>
																	<select aria-label="Default select example" id="bookStatus2" class="form-select" name="bookStatus">
																		<option selected th:text="${book.bookStatus}"></option>
																		<option value="NEW">New</option>
																		<option value="OLD">Old</option>
																		<option value="BESTSELLERS">BestSellers</option>
																	</select>
																</div>
																
																<div class="form-group">
																	<label for="bookImageUrl2">Book Image Url</label>
																	<input aria-describedby="emailHelp" class="form-control"  id="bookImageUrl2" name="bookImageUrl" th:value="${book.bookImageUrl}"
																		   placeholder="Enter Book image url"
																		   required type="text">
																</div>
																<div class="form-group">
																	<label for="discription2">Book Discription</label>
																	<textarea class="form-control" id="discription2" name="discription" th:text="${book.discription}" placeholder="Enter Something About Books"
																			  rows="10"></textarea>
																</div>
																
																
																
																
																
																<div class="container text-center mt-3">
																	<button class="btn btn-primary" id="submit-btn"
																			type="submit">Submit
																	</button>
																	<button class="btn btn-warning" id="reset-btn" type="reset">
																		Reset
																	</button>
																</div>
															</form>
														</div>
														<div class="modal-footer">
															<button
																	class="btn btn-secondary"
																	data-bs-dismiss="modal"
																	type="button"
															>
																Close
															</button>
														
														</div>
													</div>
												</div>
											</div>
											
<!--											end modal-->
										
										
										
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
						
						<!-- pagination -->
					
					
					<nav aria-label="Page navigation example text-center" th:if="${totalPages>0}" style="color:black">
						<ul class="pagination">
							<li class="page-item border" th:if="${currentPage != 0 }">
								<a class="page-link" href="#" aria-label="Previous"
								   th:href="@{'/admin/manage-books/' + ${currentPage - 1}}">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li th:each="i : ${#numbers.sequence(1, totalPages)}" style="color:black"
								th:classappend="${currentPage == i-1 ? 'active' : ''}"><a
									class="page-link" href="#" th:href="@{'/admin/manage-books/' + ${i-1}}"
									th:text="${i}">1</a></li>
							
							<li class="page-item  border" th:if="${currentPage + 1 != totalPages}" style="color:black">
								<a class="page-link" href="#" aria-label="Next"
								   th:href="@{'/admin/manage-books/' + ${currentPage + 1}}">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
						
						
						
					</div>
				</div>
			</div>
			
			<!--			add category-->
			<div
					class="col-md-5 offset-md-4"
					id="add-books"
					style="display: none"
			>
				<div class="card mt-3">
					<div class="card-header text-center primary-bg text-white">
						<span class="fa fa-3x fa-user-circle"></span>
						<br/>
						Add Book
					</div>
					<div class="card-body">
						<form id="reg-form1" method="POST" th:action="@{/admin/add-bookData}"
						>
							
							<div class="form-group">
								<select aria-label="Default select example" class="form-select" name="categoryId">
									<option selected>Select Category</option>
									<option th:each="category:${categories}" th:text="${category.categoryTitle}"
											th:value="${category.categoryId}"></option>
								</select>
							</div>
							
							
							<div class="form-group">
								<label for="bookTitle">Book Title</label>
								<input aria-describedby="emailHelp" class="form-control" id="bookTitle" name="bookTitle"
									   placeholder="Enter Book Title" required type="text">
							</div>
							
							
							<div class="form-group">
								<label for="bookAuthor">Book Author</label>
								<input aria-describedby="emailHelp" class="form-control" id="bookAuthor" name="bookAuthor"
									   placeholder="Enter Book Author"
									   required type="text">
							</div>
							
							
							<div class="form-group">
								<label for="user_name">Book ISBN</label>
								<input aria-describedby="emailHelp" class="form-control" id="bookISBN" name="bookISBN"
									   placeholder="Enter Book ISBN"
									   required type="text">
							</div>
							
							
							<div class="form-group">
								<label for="user_name">Book Qunatity</label>
								<input aria-describedby="emailHelp" class="form-control" id="bookQuantity" name="bookQuantity"
									   placeholder="Enter Book Quantity"
									   required type="number">
							</div>
							
							
							<div class="form-group">
								<label for="user_name">Book Price</label>
								<input aria-describedby="emailHelp" class="form-control"  name="bookPrice"
									   placeholder="Enter Book Price"
									   required type="number">
							</div>
							
							
							<div class="form-group">
								<label for="about">Book Type</label>
								<select aria-label="Default select example" class="form-select" name="bookStatus">
									<option selected>Select Book Type</option>
									<option value="NEW">New</option>
									<option value="OLD">Old</option>
									<option value="BESTSELLERS">BestSellers</option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="user_name">Book Image Url</label>
								<input aria-describedby="emailHelp" class="form-control"  name="bookImageUrl"
									   placeholder="Enter Book image url"
									   required type="text">
							</div>
							<div class="form-group">
								<label for="about">Book Discription</label>
								<textarea class="form-control" id="discription" name="discription" placeholder="Enter Something About Books"
										  rows="10"></textarea>
							</div>
							
							
							<div class="container text-center mt-3">
								<button class="btn btn-primary" id="submit-btn2" type="submit">Submit</button>
								<button class="btn btn-warning" id="reset-btn2" type="reset">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

</section>
</body>
</html>