<!DOCTYPE html>
<html lang="en" th:replace="~{admin/_layout::Layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<section>
	
	<div class="search-wrapper">
		<form>
			<input type="text" id="search-cus" required class="search-box" placeholder="Enter search term" onkeyup="searchCustomer()" >
			<button class="close-icon" type="reset"></button>
		</form>
	</div>
	
	<div class="search-result-cus">
	
	
	</div>
	
	<div class="card shadow border-0 mb-7">
		<div class="card-header">
			<h5 class="mb-0">Customer</h5>
		</div>
		
		<!-- table start -->
		<div class="table-responsive">
			<table class="table table-hover table-nowrap">
				<thead class="thead-light">
				<tr>
					<th scope="col">Customer Name</th>
					<th scope="col">EmailId</th>
					<th scope="col">Role</th>
					<th scope="col">JoinDate</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="customer:${customers}"  th:if="${customer != null}">
					<td>
						<div class="text-heading font-semibold" style="font-size:16px;font-width:30px" th:text="${customer.customerName}">
							Robert Fox
						</div>
					</td>
					<td th:text="${customer.customerEmailId}" style="font-size:16px;font-width:30px">Feb 15, 2021</td>
					
					<td  style="font-size:16px;font-width:30px">
					<select class="form-select change-role" id="roleSelect" aria-label="Disabled select example" th:data-customer-id="${customer.customerId}" >
						<option  selected th:text="${customer.customerRole}"></option>
						<option value="ROLE_ADMIN">ADMIN</option>
						
					</select>
					</td>
					<td >
			  <span class="" >
				<i style="font-size:16px;font-width:30px" th:text="${customer.customerJoinDate}"></i>
			  </span>
					</td>
					<td class="text-end">
						<a
								th:href="@{'/admin/'+${customer.customerId}+'/delete-customer'}"
								type="button"
								class="btn btn-sm btn-square btn-neutral text-danger-hover delete-customer"
								id="delete-customer"
								
						>
							<i class="bi bi-trash"></i>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		
		<!-- table end -->
		
		
		<div class="card-footer border-0 py-5">
			<nav aria-label="Page navigation example text-center" th:if="${totalPages>0}" style="color:black">
				<ul class="pagination">
					<li class="page-item border" th:if="${currentPage != 0 }">
						<a class="page-link" href="#" aria-label="Previous"
						   th:href="@{'/admin/manage-customer/' + ${currentPage - 1}}">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li th:each="i : ${#numbers.sequence(1, totalPages)}" style="color:black"
						th:classappend="${currentPage == i-1 ? 'active' : ''}"><a
							class="page-link" href="#" th:href="@{'/admin/manage-customer/' + ${i-1}}"
							th:text="${i}">1</a></li>
					
					<li class="page-item  border" th:if="${currentPage + 1 != totalPages}" style="color:black">
						<a class="page-link" href="#" aria-label="Next"
						   th:href="@{'/admin/manage-customer/' + ${currentPage + 1}}">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	
	
	
	</div>
</section>
</body>
</html>